$color-dark: hsl(0, 0%, 7%);
$color-grey: hsla(0, 0%, 0%, 0.1);
$color-black: hsl(0, 0%, 7%);
$color-light: hsl(27, 29%, 94%);
$color-green: hsl(141, 54%, 23%);


@mixin for-desktop-small {
    @media (max-width:1140px) {
        @content;
    }
}


@mixin for-tablet-big {
    @media (max-width: 960px) {
        @content;
    }
}

@mixin for-tablet-medium {
    @media (max-width: 720px) {
        @content;
    }
}

@mixin for-phone {
    @media (max-width: 540px) {
        @content;
    }
}

@mixin font-nav {
    font-size: 14px;
    color: $color-dark;
    line-height: 150%;
    letter-spacing: -1%;
}

@mixin font-footer {
    font-size: 16px;
    color: $color-light;
    line-height: 150%;
    letter-spacing: -1%;
}

@mixin font-headline {
    font-size: 40px;
    line-height: 120%;
}

@mixin font-block-title {
    font-size: 48px;
    line-height: 115%;
}

@mixin font-offer-card-title {
    font-size: 28px;
    line-height: 115%;
    letter-spacing: -5%;
}

@mixin font-offer-casd-description {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -1%;
}