@import './Reset/Reset.scss';
@import "~bootstrap/scss/bootstrap";

@import './Nav/Nav.scss';
@import './OfferBlock/OfferBlock.scss';
@import './Instagram/Instagram.scss';
@import './Footer/Footer.scss';


body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Inter', sans-serif;
}