@import './Reset/Reset.scss';
@import "~bootstrap/scss/bootstrap";
@import './Nav/Nav.scss';

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}