@import './Reset/Reset.scss';
@import "~bootstrap/scss/bootstrap";

@import './Nav/Nav.scss';
@import './HeroBlock/Hero.scss';
@import './OfferBlock/Offer.scss';
@import './AboutBlock/About.scss';
@import './ImplementationsBlock/Implementation.scss';
@import './PopupGallery/Popup.scss';
@import './InstagramBlock/Instagram.scss';
@import './Footer/Footer.scss';
@import './Slider/Slider.scss';


body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Inter', sans-serif;
}